# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# File operations
alias cp="cp -ir"
alias mv="mv -i"
alias rm="rm -i"
alias rmf="rm -fv"
alias rmrf="rm -rfv"

# Misc shortcuts
alias cls="clear"

# be nice
alias please=sudo
# not so nice
alias fucking=sudo

# viewing files and directories
alias ls="command ls -G"
alias lsd='ls -l | grep "^d"'
alias l="ls -lG"
alias la="ls -laG"
alias fs="stat -f \"%z bytes\""

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# IP addresses
alias ip="curl http://api.ipify.org/; echo"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Empty the Trash on all mounted volumes and the main HDD
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; rm -rfv ~/.Trash"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Music
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 5'"

# Open apps
alias preview='open -a Preview'
alias finder='open -a Finder "`pwd`"'

# Utils
alias refresh='. ~/.profile'
alias dpyc='find . -name "*.pyc" -exec rm -rf {} \;'
alias tn='tr -d "\n"'
alias cpwd="pwd | tn | pbcopy"