# Ignore everyting
*

# Don't ignore this
!.gitignore

# dotfiles
!.profile
!.aliases
!.functions
!.exports
!.prompt

# git configurations
!.gitconfig
!.gitignore-global
!.git-completion.sh

# Developer tools
!.editorconfig

# Autocomplete
!.autocomplete

# SSH & WGET
!.stormssh
!.wgetrc